# Python Strings
[Datastics Lab](https://github.com/datasticslab/ISCB) | Created by [Jubayer Hossain](https://github.com/jubayer-hossain)

## Previous
- What is Python? 
- Why Python Rocks in Research? 
- Little bit history of Python 
- Variables, Expressions, Comments 
- Data Types 
- Printing Messages 
- Operators in Python
- Python Data Type Conversion 
- Python User Inputs 
- Algorithms and Flowcharts 
- `if` statement 
- `else` statement 
- `elif` statement
- `while` loop 
- `range()` function
- `for` loop 
- `pass` statement
- `break` statement 
- `continue` statement 
- Python Function
- Function Arguments / Parameters 
## Today 
- Strings
- String Manipulation 
- String Methods

## String Operators

### The `+` Operator
The + operator concatenates strings. It returns a string consisting of the operands joined together.

In [1]:
s1 = "Ub" 
s2 = "er"
s1+s2

'Uber'

In [3]:
s3 = "Fizz"
s4 = "Buzz"
s3+s4

'FizzBuzz'

### The `*` Operator
The * operator creates multiple copies of a string. If `s` is a string and `n` is an integer, either of the following expressions returns a string consisting of `n` concatenated copies of `s`
* $s \times n$
* $n \times s$

In [4]:
s = "Fizz"
n = 3 
# n * s 
s * n

'FizzFizzFizz'

In [5]:
# s * n 
n * s

'FizzFizzFizz'

__Note__

The multiplier operand n must be an integer. Youâ€™d think it would be required to be a positive integer, but amusingly, it can be zero or negative, in which case the result is an empty string.

In [6]:
"foo" * -8

''

In [7]:
"foo" * .5

TypeError: can't multiply sequence by non-int of type 'float'

### The `in` Operator
Python also provides a membership operator that can be used with strings. The in operator returns True if the first operand is contained within the second, and False otherwise

In [8]:
text = "I love Bangladesh!"
# membership check 
"love" in text

True

In [9]:
# Dhaka in text? 
"Dhaka" in text

False

In [10]:
# Dhaka not in text? 
"Dhaka" not in text

True

## Built-in String Function

### `ord(c)`
Returns an integer of the given character.

In [11]:
# ASCII value of a 
ord('a')

97

In [12]:
# ASCII value of A 
ord('A')

65

In [13]:
# ASCII value of # 
ord("#")

35

### `chr(i)`  
Converts an integer to character

In [15]:
# Convert integer to character 97 == a 
chr(97)

'a'

In [16]:
# Convert integer to character 65 == A 
chr(65)

'A'

### `len(s)` 
Returns the length of a string

In [17]:
# length of a string 
S = "Amar Sonar Bangla!"
len(S)

18

### `str(param)`
Returns a string representation of a string

In [18]:
# 10 into '10'
str(10)

'10'

In [19]:
# 10.5 into '10.5'
str(10.5)

'10.5'

## String Indexing
In Python, strings are ordered sequences of character data, and thus can be indexed in this way. Individual characters in a string can be accessed by specifying the string name followed by a number in square brackets ([]).
String indexing in Python is zero-based: the first character in the string has index 0, the next has index 1, and so on. The index of the last character will be the length of the string minus one.

![img](../img/String-Indexing.png)

In [23]:
# forward indexing
country = "Bangladesh"

In [28]:
# check length
len(country)

10

In [21]:
country[0]

'B'

In [22]:
country[1]

'a'

In [24]:
country[2]

'n'

In [25]:
country[3]

'g'

In [26]:
country[4]

'l'

In [27]:
country[5]

'a'

In [29]:
country[6]

'd'

In [30]:
country[7]

'e'

In [31]:
country[8]

's'

In [32]:
country[9]

'h'

In [33]:
country[10]

IndexError: string index out of range

In [34]:
# reverse indexing
country = "Bangladesh"

In [35]:
country[-1]

'h'

In [36]:
country[-2]

's'

In [37]:
country[-3]

'e'

In [38]:
country[-4]

'd'

In [39]:
country[-5]

'a'

In [40]:
country[-6]

'l'

In [41]:
country[-7]

'g'

In [42]:
country[-8]

'n'

In [43]:
country[-9]

'a'

In [44]:
country[-10]

'B'

## String Slicing
![img](../img/Python-String-Slicing-Illustration.png)

In [45]:
# slicing
country = "Bangladesh"

In [46]:
country[0:2] # 0 included but 2 excluded

'Ba'

In [47]:
country[3:5]

'gl'

In [48]:
country[2:len(country)]

'ngladesh'

In [49]:
country[-1:-3]

''

## String Operation Function

### `s.lower()`
Returns all characters in lowercase.

In [50]:
name = "Rahim"
name.lower()

'rahim'

### `s.upper()`
Returns all characters in uppercase

In [51]:
text = "fizzbuzz"
text.upper()

'FIZZBUZZ'

### `s.capitalize()`
Converts first letter into uppercase

In [74]:
text = "fizzbuzz"
text.capitalize()

'Fizzbuzz'

### `s.title()`
Convert first letter lowercase to uppercase in a sentence

In [52]:
text2 = "i love bangladesh!"
text2.title()

'I Love Bangladesh!'

### `s.split(t)`
Converts a sentence into List

In [58]:
# Split a sentence into list 
sent = "Dhaka is the capital of Bangladesh!"
sent.split(" ")

['Dhaka', 'is', 'the', 'capital', 'of', 'Bangladesh!']

### `s.strip()`
Removes whitespace from text(both side)

In [65]:
text4 = "     FooBazar"
text4.strip()

'FooBazar'

### `s.rstrip()`
Removes whitespace from right end.

In [66]:
text5 = "  FooBazar        "
text5.rstrip()

'  FooBazar'

### `s.lstrip()`
Removes whitespace from left end

In [68]:
text6 = "  FooBazar        "
text6.lstrip()

'FooBazar        '

## `s.find(t)`
Returns substring position.if the string not found return `-1`

In [69]:
text7 = "Datastics Lab"
text7.find("s")

4

In [70]:
text7 = "Datastics Lab"
text7.find("Lab")

10

In [71]:
text7 = "Datastics Lab"
text7.find("foo")

-1

## `s.count(t)`
Returns the number of character in a sentence or word

In [73]:
country = "Japan"
country.count("a")

2

### `s.replace(u, v)`
Replace value in a sequence of character(string)

In [72]:
text8 = "Datastics lab"
text8.replace("l", "L")

'Datastics Lab'

## Word Comparison Functions

### `s.startswith(t)`

In [75]:
text9 = "Lab for Making Insights from Data!"
text9.startswith("Lab")

True

In [76]:
text9 = "Lab for Making Insights from Data!"
text9.startswith("lab")

False

### s.endswith(t)

In [77]:
text10 = "Lab for Making Insights from Data!"
text10.endswith("!")

True

In [78]:
text10 = "Lab for Making Insights from Data!"
text10.endswith("?")

False

### `s.isupper()`

In [79]:
text11 = "Lab for Making Insights from Data!"
text11.isupper()

False

### s.islower()

In [80]:
text12 = "Lab for Making Insights from Data!"
text12.islower()

False

### s.istitle()

In [81]:
text13 = "Lab for Making Insights from Data!"
text13.istitle()

False

### `s.isalpha()`

In [82]:
text14 = "Lab for Making Insights from Data!"
text14.isalpha()

False

### `s.isdigit()`

In [83]:
text15 = "Lab for Making Insights from Data!"
text15.isdigit()

False

### `s.isalnum()`

In [84]:
text16 = "Lab for Making Insights from Data!"
text16.isalnum()

False

## String Iteration

In [85]:
S = "Bangladesh!"
for i in S: 
    print(i)

B
a
n
g
l
a
d
e
s
h
!

In [1]:
S = "Bangladesh!"
for index, val in enumerate(S): 
    print(index, val)

0 B
1 a
2 n
3 g
4 l
5 a
6 d
7 e
8 s
9 h
10 !

## Resources 
- https://www.python.org/doc/essays/blurb/
- https://dev.to/duomly/10-reasons-why-learning-python-is-still-a-great-idea-5abh
- https://www.stat.washington.edu/~hoytak/blog/whypython.html
- https://www.programiz.com/python-programming