<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Python-Quick-Guide" data-toc-modified-id="Python-Quick-Guide-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Python Quick Guide</a></span><ul class="toc-item"><li><span><a href="#Printing-Message" data-toc-modified-id="Printing-Message-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Printing Message</a></span></li><li><span><a href="#Variables" data-toc-modified-id="Variables-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Variables</a></span></li><li><span><a href="#Reserved-Keywords-=>-Don't-use-as-a-variable-name" data-toc-modified-id="Reserved-Keywords-=>-Don't-use-as-a-variable-name-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Reserved Keywords =&gt; Don't use as a variable name</a></span></li><li><span><a href="#Imports" data-toc-modified-id="Imports-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Imports</a></span></li><li><span><a href="#Data-Types" data-toc-modified-id="Data-Types-1.5"><span class="toc-item-num">1.5&nbsp;&nbsp;</span>Data Types</a></span></li><li><span><a href="#Data-Type-Conversion" data-toc-modified-id="Data-Type-Conversion-1.6"><span class="toc-item-num">1.6&nbsp;&nbsp;</span>Data Type Conversion</a></span></li><li><span><a href="#3.-Math" data-toc-modified-id="3.-Math-1.7"><span class="toc-item-num">1.7&nbsp;&nbsp;</span>3. Math</a></span></li><li><span><a href="#Comparisons-and-Boolean-Operations" data-toc-modified-id="Comparisons-and-Boolean-Operations-1.8"><span class="toc-item-num">1.8&nbsp;&nbsp;</span>Comparisons and Boolean Operations</a></span></li><li><span><a href="#Conditional-Statements" data-toc-modified-id="Conditional-Statements-1.9"><span class="toc-item-num">1.9&nbsp;&nbsp;</span>Conditional Statements</a></span></li><li><span><a href="#Lists" data-toc-modified-id="Lists-1.10"><span class="toc-item-num">1.10&nbsp;&nbsp;</span>Lists</a></span></li><li><span><a href="#Tuples" data-toc-modified-id="Tuples-1.11"><span class="toc-item-num">1.11&nbsp;&nbsp;</span>Tuples</a></span></li><li><span><a href="#Strings" data-toc-modified-id="Strings-1.12"><span class="toc-item-num">1.12&nbsp;&nbsp;</span>Strings</a></span></li><li><span><a href="#Dictionaries" data-toc-modified-id="Dictionaries-1.13"><span class="toc-item-num">1.13&nbsp;&nbsp;</span>Dictionaries</a></span></li><li><span><a href="#Sets" data-toc-modified-id="Sets-1.14"><span class="toc-item-num">1.14&nbsp;&nbsp;</span>Sets</a></span></li><li><span><a href="#Defining-Functions" data-toc-modified-id="Defining-Functions-1.15"><span class="toc-item-num">1.15&nbsp;&nbsp;</span>Defining Functions</a></span></li><li><span><a href="#Anonymous-(Lambda)-Functions" data-toc-modified-id="Anonymous-(Lambda)-Functions-1.16"><span class="toc-item-num">1.16&nbsp;&nbsp;</span>Anonymous (Lambda) Functions</a></span></li><li><span><a href="#For-Loops-and-While-Loops" data-toc-modified-id="For-Loops-and-While-Loops-1.17"><span class="toc-item-num">1.17&nbsp;&nbsp;</span>For Loops and While Loops</a></span></li><li><span><a href="#Comprehensions" data-toc-modified-id="Comprehensions-1.18"><span class="toc-item-num">1.18&nbsp;&nbsp;</span>Comprehensions</a></span></li><li><span><a href="#Map-and-Filter" data-toc-modified-id="Map-and-Filter-1.19"><span class="toc-item-num">1.19&nbsp;&nbsp;</span>Map and Filter</a></span></li><li><span><a href="#Randomness" data-toc-modified-id="Randomness-1.20"><span class="toc-item-num">1.20&nbsp;&nbsp;</span>Randomness</a></span></li><li><span><a href="#Working-with-Files" data-toc-modified-id="Working-with-Files-1.21"><span class="toc-item-num">1.21&nbsp;&nbsp;</span>Working with Files</a></span></li><li><span><a href="#Common-Mistakes-and-Errors" data-toc-modified-id="Common-Mistakes-and-Errors-1.22"><span class="toc-item-num">1.22&nbsp;&nbsp;</span>Common Mistakes and Errors</a></span></li><li><span><a href="#Resources" data-toc-modified-id="Resources-1.23"><span class="toc-item-num">1.23&nbsp;&nbsp;</span>Resources</a></span></li></ul></li></ul></div>

# Python Quick Guide
[Datastics Lab](https://github.com/datasticslab/ISCB) | Created by [Jubayer Hossain](https://github.com/jubayer-hossain)

## Printing Message

In [5]:
# To print something
print("Hello World!")

Hello World!

## Variables 
- What is Variables?
- Creating / Declaration of Variables 
- Naming Conventions 
- Restrictions / Reserved Words / Identifiers

In [1]:
# Create a variable called `a` and store value
a = 10 
print(a)

10

In [2]:
# Create a variable called `b` and store value
b = 10.5 
print(b)

10.5

In [3]:
# Create a variable called `name` and store value
name = "Datastics Lab"
print(name)

Datastics Lab

## Reserved Keywords => Don't use as a variable name

In [4]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

[<a href="#Python-Quick-Guide">Back to top</a>]

## Imports

In [1]:
# 'generic import' of math module
import math
math.sqrt(25)

5.0

In [2]:
# import a function
from math import sqrt
sqrt(25)    # no longer have to reference the module

5.0

In [3]:
# import multiple functions at once
from math import cos, floor

In [4]:
# import all functions in a module (generally discouraged)
from csv import *

In [5]:
# define an alias / nickname
import datetime as dt

In [6]:
# import numpy as np(nickname)
import numpy as np

In [6]:
# show all functions in math module
print(dir(math))

['__doc__', '__name__', '__package__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'ceil', 'copysign', 'cos', 'cosh', 'degrees', 'e', 'erf', 'erfc', 'exp', 'expm1', 'fabs', 'factorial', 'floor', 'fmod', 'frexp', 'fsum', 'gamma', 'hypot', 'isinf', 'isnan', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'modf', 'pi', 'pow', 'radians', 'sin', 'sinh', 'sqrt', 'tan', 'tanh', 'trunc']

[<a href="#Python-Quick-Guide">Back to top</a>]

## Data Types

**Determine the type of an object:**

In [7]:
type(2)

int

In [8]:
type(2.0)

float

In [9]:
type('two')

str

In [10]:
type(True)

bool

In [11]:
type(None)

NoneType

**Check if an object is of a given type:**

In [12]:
isinstance(2.0, int)

False

In [13]:
isinstance(2.0, (int, float))

True

**Convert an object to a given type:**

In [14]:
float(2)

2.0

In [15]:
int(2.9)

2

In [16]:
str(2.9)

'2.9'

**Zero, `None`, and empty containers are converted to `False`:**

In [17]:
bool(0)

False

In [18]:
bool(None)

False

In [19]:
bool('')    # empty string

False

In [20]:
bool([])    # empty list

False

In [21]:
bool({})    # empty dictionary

False

**Non-empty containers and non-zeros are converted to `True`:**

In [22]:
bool(2)

True

In [23]:
bool('two')

True

In [24]:
bool([2])

True

[<a href="#Python-Quick-Guide">Back to top</a>]

## Data Type Conversion

In [28]:
# float to integer  
a = 5.25 
int(a)

5

In [30]:
# integer to float  
b = 5
float(b)

5.0

In [31]:
# integer to string  
c = 5
str(c)

'5'

In [32]:
# string to integer  
d = '5'
str(d)

'5'

In [33]:
# character to integer 
s = 'a' 
ord(s)

97

In [34]:
# integer to character 
i = 97 
chr(i)

'a'

[<a href="#Python-Quick-Guide">Back to top</a>]

## 3. Math

In [25]:
10 + 4

14

In [26]:
10 - 4

6

In [27]:
10 * 4

40

In [28]:
10 ** 4    # exponent

10000

In [29]:
5 % 4      # modulo - computes the remainder

1

In [30]:
# Python 2: returns 2 (because both types are 'int')
# Python 3: returns 2.5
10 / 4

2

In [31]:
10 / float(4)

2.5

In [32]:
# force '/' in Python 2 to perform 'true division' (unnecessary in Python 3)
from __future__ import division

In [33]:
10 / 4     # true division

2.5

In [34]:
10 // 4    # floor division

2

[<a href="#Python-Quick-Guide">Back to top</a>]

## Comparisons and Boolean Operations

**Assignment statement:**

In [35]:
x = 5

**Comparisons:**

In [36]:
x > 3

True

In [37]:
x >= 3

True

In [38]:
x != 3

True

In [39]:
x == 5

True

**Boolean operations:**

In [40]:
5 > 3 and 6 > 3

True

In [41]:
5 > 3 or 5 < 3

True

In [42]:
not False

True

In [43]:
False or not False and True     # evaluation order: not, and, or

True

[<a href="#Python-Quick-Guide">Back to top</a>]

## Conditional Statements

In [44]:
# if statement
if x > 0:
    print('positive')

positive

In [45]:
# if/else statement
if x > 0:
    print('positive')
else:
    print('zero or negative')

positive

In [46]:
# if/elif/else statement
if x > 0:
    print('positive')
elif x == 0:
    print('zero')
else:
    print('negative')

positive

In [47]:
# single-line if statement (sometimes discouraged)
if x > 0: print('positive')

positive

In [48]:
# single-line if/else statement (sometimes discouraged), known as a 'ternary operator'
'positive' if x > 0 else 'zero or negative'

'positive'

[<a href="#Python-Quick-Guide">Back to top</a>]

## Lists

- **List properties:** ordered, iterable, mutable, can contain multiple data types

In [49]:
# create an empty list (two ways)
empty_list = []
empty_list = list()

In [50]:
# create a list
simpsons = ['homer', 'marge', 'bart']

**Examine a list:**

In [51]:
# print element 0
simpsons[0]

'homer'

In [52]:
len(simpsons)

3

**Modify a list (does not return the list):**

In [53]:
# append element to end
simpsons.append('lisa')
simpsons

['homer', 'marge', 'bart', 'lisa']

In [54]:
# append multiple elements to end
simpsons.extend(['itchy', 'scratchy'])
simpsons

['homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [55]:
# insert element at index 0 (shifts everything right)
simpsons.insert(0, 'maggie')
simpsons

['maggie', 'homer', 'marge', 'bart', 'lisa', 'itchy', 'scratchy']

In [56]:
# search for first instance and remove it
simpsons.remove('bart')
simpsons

['maggie', 'homer', 'marge', 'lisa', 'itchy', 'scratchy']

In [57]:
# remove element 0 and return it
simpsons.pop(0)

'maggie'

In [58]:
# remove element 0 (does not return it)
del simpsons[0]
simpsons

['marge', 'lisa', 'itchy', 'scratchy']

In [59]:
# replace element 0
simpsons[0] = 'krusty'
simpsons

['krusty', 'lisa', 'itchy', 'scratchy']

In [60]:
# concatenate lists (slower than 'extend' method)
neighbors = simpsons + ['ned', 'rod', 'todd']
neighbors

['krusty', 'lisa', 'itchy', 'scratchy', 'ned', 'rod', 'todd']

**Find elements in a list:**

In [61]:
# counts the number of instances
simpsons.count('lisa')

1

In [62]:
# returns index of first instance
simpsons.index('itchy')

2

**List slicing:**

In [63]:
weekdays = ['mon', 'tues', 'wed', 'thurs', 'fri']

In [64]:
# element 0
weekdays[0]

'mon'

In [65]:
# elements 0 (inclusive) to 3 (exclusive)
weekdays[0:3]

['mon', 'tues', 'wed']

In [66]:
# starting point is implied to be 0
weekdays[:3]

['mon', 'tues', 'wed']

In [67]:
# elements 3 (inclusive) through the end
weekdays[3:]

['thurs', 'fri']

In [68]:
# last element
weekdays[-1]

'fri'

In [69]:
# every 2nd element (step by 2)
weekdays[::2]

['mon', 'wed', 'fri']

In [70]:
# backwards (step by -1)
weekdays[::-1]

['fri', 'thurs', 'wed', 'tues', 'mon']

In [71]:
# alternative method for returning the list backwards
list(reversed(weekdays))

['fri', 'thurs', 'wed', 'tues', 'mon']

**Sort a list in place (modifies but does not return the list):**

In [72]:
simpsons.sort()
simpsons

['itchy', 'krusty', 'lisa', 'scratchy']

In [73]:
# sort in reverse
simpsons.sort(reverse=True)
simpsons

['scratchy', 'lisa', 'krusty', 'itchy']

In [74]:
# sort by a key
simpsons.sort(key=len)
simpsons

['lisa', 'itchy', 'krusty', 'scratchy']

**Return a sorted list (does not modify the original list):**

In [75]:
sorted(simpsons)

['itchy', 'krusty', 'lisa', 'scratchy']

In [76]:
sorted(simpsons, reverse=True)

['scratchy', 'lisa', 'krusty', 'itchy']

In [77]:
sorted(simpsons, key=len)

['lisa', 'itchy', 'krusty', 'scratchy']

**Insert into an already sorted list, and keep it sorted:**

In [78]:
num = [10, 20, 40, 50]
from bisect import insort
insort(num, 30)
num

[10, 20, 30, 40, 50]

**Object references and copies:**

In [79]:
# create a second reference to the same list
same_num = num

In [80]:
# modifies both 'num' and 'same_num'
same_num[0] = 0
print(num)
print(same_num)

[0, 20, 30, 40, 50]
[0, 20, 30, 40, 50]

In [81]:
# copy a list (two ways)
new_num = num[:]
new_num = list(num)

**Examine objects:**

In [82]:
num is same_num    # checks whether they are the same object

True

In [83]:
num is new_num

False

In [84]:
num == same_num    # checks whether they have the same contents

True

In [85]:
num == new_num

True

[<a href="#Python-Quick-Guide">Back to top</a>]

## Tuples

- **Tuple properties:** ordered, iterable, immutable, can contain multiple data types
- Like lists, but they don't change size

In [86]:
# create a tuple directly
digits = (0, 1, 'two')

In [87]:
# create a tuple from a list
digits = tuple([0, 1, 'two'])

In [88]:
# trailing comma is required to indicate it's a tuple
zero = (0,)

**Examine a tuple:**

In [89]:
digits[2]

'two'

In [90]:
len(digits)

3

In [91]:
# counts the number of instances of that value
digits.count(0)

1

In [92]:
# returns the index of the first instance of that value
digits.index(1)

1

**Modify a tuple:**

In [93]:
# elements of a tuple cannot be modified (this would throw an error)
# digits[2] = 2

In [94]:
# concatenate tuples
digits = digits + (3, 4)
digits

(0, 1, 'two', 3, 4)

**Other tuple operations:**

In [95]:
# create a single tuple with elements repeated (also works with lists)
(3, 4) * 2

(3, 4, 3, 4)

In [96]:
# sort a list of tuples
tens = [(20, 60), (10, 40), (20, 30)]
sorted(tens)    # sorts by first element in tuple, then second element

[(10, 40), (20, 30), (20, 60)]

In [97]:
# tuple unpacking
bart = ('male', 10, 'simpson')    # create a tuple
(sex, age, surname) = bart        # assign three values at once
print(sex)
print(age)
print(surname)

male
10
simpson

[<a href="#Python-Quick-Guide">Back to top</a>]

## Strings

- **String properties:** iterable, immutable

In [98]:
# convert another data type into a string
s = str(42)
s

'42'

In [99]:
# create a string directly
s = 'I like you'

**Examine a string:**

In [100]:
s[0]

'I'

In [101]:
len(s)

10

**String slicing is like list slicing:**

In [102]:
s[:6]

'I like'

In [103]:
s[7:]

'you'

In [104]:
s[-1]

'u'

**Basic string methods (does not modify the original string):**

In [105]:
s.lower()

'i like you'

In [106]:
s.upper()

'I LIKE YOU'

In [107]:
s.startswith('I')

True

In [108]:
s.endswith('you')

True

In [109]:
# checks whether every character in the string is a digit
s.isdigit()

False

In [110]:
# returns index of first occurrence, but doesn't support regex
s.find('like')

2

In [111]:
# returns -1 since not found
s.find('hate')

-1

In [112]:
# replaces all instances of 'like' with 'love'
s.replace('like', 'love')

'I love you'

**Split a string:**

In [113]:
# split a string into a list of substrings separated by a delimiter
s.split(' ')

['I', 'like', 'you']

In [114]:
# equivalent (since space is the default delimiter)
s.split()

['I', 'like', 'you']

In [115]:
s2 = 'a, an, the'
s2.split(',')

['a', ' an', ' the']

**Join or concatenate strings:**

In [116]:
# join a list of strings into one string using a delimiter
stooges = ['larry', 'curly', 'moe']
' '.join(stooges)

'larry curly moe'

In [117]:
# concatenate strings
s3 = 'The meaning of life is'
s4 = '42'
s3 + ' ' + s4

'The meaning of life is 42'

**Remove whitespace from the start and end of a string:**

In [118]:
s5 = '  ham and cheese  '
s5.strip()

'ham and cheese'

**String substitutions:**

In [119]:
# old way
'raining %s and %s' % ('cats', 'dogs')

'raining cats and dogs'

In [120]:
# new way
'raining {} and {}'.format('cats', 'dogs')

'raining cats and dogs'

In [121]:
# new way (using named arguments)
'raining {arg1} and {arg2}'.format(arg1='cats', arg2='dogs')

'raining cats and dogs'

**String formatting ([more examples](https://mkaz.tech/python-string-format.html)):**

In [122]:
# use 2 decimal places
'pi is {:.2f}'.format(3.14159)

'pi is 3.14'

**Normal strings versus raw strings:**

In [123]:
# normal strings allow for escaped characters
print('first line\nsecond line')

first line
second line

In [124]:
# raw strings treat backslashes as literal characters
print(r'first line\nfirst line')

first line\nfirst line

[<a href="#Python-Quick-Guide">Back to top</a>]

## Dictionaries

- **Dictionary properties:** unordered, iterable, mutable, can contain multiple data types
- Made of key-value pairs
- Keys must be unique, and can be strings, numbers, or tuples
- Values can be any type

In [125]:
# create an empty dictionary (two ways)
empty_dict = {}
empty_dict = dict()

In [126]:
# create a dictionary (two ways)
family = {'dad':'homer', 'mom':'marge', 'size':6}
family = dict(dad='homer', mom='marge', size=6)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [127]:
# convert a list of tuples into a dictionary
list_of_tuples = [('dad', 'homer'), ('mom', 'marge'), ('size', 6)]
family = dict(list_of_tuples)
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

**Examine a dictionary:**

In [128]:
# pass a key to return its value
family['dad']

'homer'

In [129]:
# return the number of key-value pairs
len(family)

3

In [130]:
# check if key exists in dictionary
'mom' in family

True

In [131]:
# dictionary values are not checked
'marge' in family

False

In [132]:
# returns a list of keys (Python 2) or an iterable view (Python 3)
family.keys()

['dad', 'mom', 'size']

In [133]:
# returns a list of values (Python 2) or an iterable view (Python 3)
family.values()

['homer', 'marge', 6]

In [134]:
# returns a list of key-value pairs (Python 2) or an iterable view (Python 3)
family.items()

[('dad', 'homer'), ('mom', 'marge'), ('size', 6)]

**Modify a dictionary (does not return the dictionary):**

In [135]:
# add a new entry
family['cat'] = 'snowball'
family

{'cat': 'snowball', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [136]:
# edit an existing entry
family['cat'] = 'snowball ii'
family

{'cat': 'snowball ii', 'dad': 'homer', 'mom': 'marge', 'size': 6}

In [137]:
# delete an entry
del family['cat']
family

{'dad': 'homer', 'mom': 'marge', 'size': 6}

In [138]:
# dictionary value can be a list
family['kids'] = ['bart', 'lisa']
family

{'dad': 'homer', 'kids': ['bart', 'lisa'], 'mom': 'marge', 'size': 6}

In [139]:
# remove an entry and return the value
family.pop('dad')

'homer'

In [140]:
# add multiple entries
family.update({'baby':'maggie', 'grandpa':'abe'})
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart', 'lisa'],
 'mom': 'marge',
 'size': 6}

**Access values more safely with `get`:**

In [141]:
family['mom']

'marge'

In [142]:
# equivalent to a dictionary lookup
family.get('mom')

'marge'

In [143]:
# this would throw an error since the key does not exist
# family['grandma']

In [144]:
# return None if not found
family.get('grandma')

In [145]:
# provide a default return value if not found
family.get('grandma', 'not found')

'not found'

**Access a list element within a dictionary:**

In [146]:
family['kids'][0]

'bart'

In [147]:
family['kids'].remove('lisa')
family

{'baby': 'maggie',
 'grandpa': 'abe',
 'kids': ['bart'],
 'mom': 'marge',
 'size': 6}

**String substitution using a dictionary:**

In [148]:
'youngest child is %(baby)s' % family

'youngest child is maggie'

[<a href="#Python-Quick-Guide">Back to top</a>]

## Sets

- **Set properties:** unordered, iterable, mutable, can contain multiple data types
- Made of unique elements (strings, numbers, or tuples)
- Like dictionaries, but with keys only (no values)

In [149]:
# create an empty set
empty_set = set()

In [150]:
# create a set directly
languages = {'python', 'r', 'java'}

In [151]:
# create a set from a list
snakes = set(['cobra', 'viper', 'python'])

**Examine a set:**

In [152]:
len(languages)

3

In [153]:
'python' in languages

True

**Set operations:**

In [154]:
# intersection
languages & snakes

{'python'}

In [155]:
# union
languages | snakes

{'cobra', 'java', 'python', 'r', 'viper'}

In [156]:
# set difference
languages - snakes

{'java', 'r'}

In [157]:
# set difference
snakes - languages

{'cobra', 'viper'}

**Modify a set (does not return the set):**

In [158]:
# add a new element
languages.add('sql')
languages

{'java', 'python', 'r', 'sql'}

In [159]:
# try to add an existing element (ignored, no error)
languages.add('r')
languages

{'java', 'python', 'r', 'sql'}

In [160]:
# remove an element
languages.remove('java')
languages

{'python', 'r', 'sql'}

In [161]:
# try to remove a non-existing element (this would throw an error)
# languages.remove('c')

In [162]:
# remove an element if present, but ignored otherwise
languages.discard('c')
languages

{'python', 'r', 'sql'}

In [163]:
# remove and return an arbitrary element
languages.pop()

'python'

In [164]:
# remove all elements
languages.clear()
languages

set()

In [165]:
# add multiple elements (can also pass a set)
languages.update(['go', 'spark'])
languages

{'go', 'spark'}

**Get a sorted list of unique elements from a list:**

In [166]:
sorted(set([9, 0, 2, 1, 0]))

[0, 1, 2, 9]

[<a href="#Python-Quick-Guide">Back to top</a>]

## Defining Functions

**Define a function with no arguments and no return values:**

In [167]:
def print_text():
    print('this is text')

In [168]:
# call the function
print_text()

this is text

**Define a function with one argument and no return values:**

In [169]:
def print_this(x):
    print(x)

In [170]:
# call the function
print_this(3)

3

In [171]:
# prints 3, but doesn't assign 3 to n because the function has no return statement
n = print_this(3)

3

**Define a function with one argument and one return value:**

In [172]:
def square_this(x):
    return x**2

In [173]:
# include an optional docstring to describe the effect of a function
def square_this(x):
    """Return the square of a number."""
    return x**2

In [174]:
# call the function
square_this(3)

9

In [175]:
# assigns 9 to var, but does not print 9
var = square_this(3)

**Define a function with two 'positional arguments' (no default values) and one 'keyword argument' (has a default value):**

In [176]:
def calc(a, b, op='add'):
    if op == 'add':
        return a + b
    elif op == 'sub':
        return a - b
    else:
        print('valid operations are add and sub')

In [177]:
# call the function
calc(10, 4, op='add')

14

In [178]:
# unnamed arguments are inferred by position
calc(10, 4, 'add')

14

In [179]:
# default for 'op' is 'add'
calc(10, 4)

14

In [180]:
calc(10, 4, 'sub')

6

In [181]:
calc(10, 4, 'div')

valid operations are add and sub

**Use `pass` as a placeholder if you haven't written the function body:**

In [182]:
def stub():
    pass

**Return two values from a single function:**

In [183]:
def min_max(nums):
    return min(nums), max(nums)

In [184]:
# return values can be assigned to a single variable as a tuple
nums = [1, 2, 3]
min_max_num = min_max(nums)
min_max_num

(1, 3)

In [185]:
# return values can be assigned into multiple variables using tuple unpacking
min_num, max_num = min_max(nums)
print(min_num)
print(max_num)

1
3

[<a href="#Python-Quick-Guide">Back to top</a>]

## Anonymous (Lambda) Functions

- Primarily used to temporarily define a function for use by another function

In [186]:
# define a function the "usual" way
def squared(x):
    return x**2

In [187]:
# define an identical function using lambda
squared = lambda x: x**2

**Sort a list of strings by the last letter:**

In [188]:
# without using lambda
simpsons = ['homer', 'marge', 'bart']
def last_letter(word):
    return word[-1]
sorted(simpsons, key=last_letter)

['marge', 'homer', 'bart']

In [189]:
# using lambda
sorted(simpsons, key=lambda word: word[-1])

['marge', 'homer', 'bart']

[<a href="#Python-Quick-Guide">Back to top</a>]

## For Loops and While Loops

**`range` returns a list of integers (Python 2) or a sequence (Python 3):**

In [190]:
# includes the start value but excludes the stop value
range(0, 3)

[0, 1, 2]

In [191]:
# default start value is 0
range(3)

[0, 1, 2]

In [192]:
# third argument is the step value
range(0, 5, 2)

[0, 2, 4]

In [193]:
# Python 2 only: use xrange to create a sequence rather than a list (saves memory)
xrange(100, 100000, 5)

xrange(100, 100000, 5)

**`for` loops:**

In [194]:
# not the recommended style
fruits = ['apple', 'banana', 'cherry']
for i in range(len(fruits)):
    print(fruits[i].upper())

APPLE
BANANA
CHERRY

In [195]:
# recommended style
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

In [196]:
# iterate through two things at once (using tuple unpacking)
family = {'dad':'homer', 'mom':'marge', 'size':6}
for key, value in family.items():
    print(key, value)

('dad', 'homer')
('mom', 'marge')
('size', 6)

In [197]:
# use enumerate if you need to access the index value within the loop
for index, fruit in enumerate(fruits):
    print(index, fruit)

(0, 'apple')
(1, 'banana')
(2, 'cherry')

**`for`/`else` loop:**

In [198]:
for fruit in fruits:
    if fruit == 'banana':
        print('Found the banana!')
        break    # exit the loop and skip the 'else' block
else:
    # this block executes ONLY if the for loop completes without hitting 'break'
    print("Can't find the banana")

Found the banana!

**`while` loop:**

In [199]:
count = 0
while count < 5:
    print('This will print 5 times')
    count += 1    # equivalent to 'count = count + 1'

This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times
This will print 5 times

[<a href="#Python-Quick-Guide">Back to top</a>]

## Comprehensions

**List comprehension:**

In [200]:
# for loop to create a list of cubes
nums = [1, 2, 3, 4, 5]
cubes = []
for num in nums:
    cubes.append(num**3)
cubes

[1, 8, 27, 64, 125]

In [201]:
# equivalent list comprehension
cubes = [num**3 for num in nums]
cubes

[1, 8, 27, 64, 125]

In [202]:
# for loop to create a list of cubes of even numbers
cubes_of_even = []
for num in nums:
    if num % 2 == 0:
        cubes_of_even.append(num**3)
cubes_of_even

[8, 64]

In [203]:
# equivalent list comprehension
# syntax: [expression for variable in iterable if condition]
cubes_of_even = [num**3 for num in nums if num % 2 == 0]
cubes_of_even

[8, 64]

In [204]:
# for loop to cube even numbers and square odd numbers
cubes_and_squares = []
for num in nums:
    if num % 2 == 0:
        cubes_and_squares.append(num**3)
    else:
        cubes_and_squares.append(num**2)
cubes_and_squares

[1, 8, 9, 64, 25]

In [205]:
# equivalent list comprehension (using a ternary expression)
# syntax: [true_condition if condition else false_condition for variable in iterable]
cubes_and_squares = [num**3 if num % 2 == 0 else num**2 for num in nums]
cubes_and_squares

[1, 8, 9, 64, 25]

In [206]:
# for loop to flatten a 2d-matrix
matrix = [[1, 2], [3, 4]]
items = []
for row in matrix:
    for item in row:
        items.append(item)
items

[1, 2, 3, 4]

In [207]:
# equivalent list comprehension
items = [item for row in matrix
              for item in row]
items

[1, 2, 3, 4]

**Set comprehension:**

In [208]:
fruits = ['apple', 'banana', 'cherry']
unique_lengths = {len(fruit) for fruit in fruits}
unique_lengths

{5, 6}

**Dictionary comprehension:**

In [209]:
fruit_lengths = {fruit:len(fruit) for fruit in fruits}
fruit_lengths

{'apple': 5, 'banana': 6, 'cherry': 6}

In [210]:
fruit_indices = {fruit:index for index, fruit in enumerate(fruits)}
fruit_indices

{'apple': 0, 'banana': 1, 'cherry': 2}

[<a href="#Python-Quick-Guide">Back to top</a>]

## Map and Filter

**`map` applies a function to every element of a sequence and returns a list (Python 2) or iterator (Python 3):**

In [211]:
simpsons = ['homer', 'marge', 'bart']
map(len, simpsons)

[5, 5, 4]

In [212]:
# equivalent list comprehension
[len(word) for word in simpsons]

[5, 5, 4]

In [213]:
map(lambda word: word[-1], simpsons)

['r', 'e', 't']

In [214]:
# equivalent list comprehension
[word[-1] for word in simpsons]

['r', 'e', 't']

**`filter` returns a list (Python 2) or iterator (Python 3) containing the elements from a sequence for which a condition is `True`:**

In [215]:
nums = range(5)
filter(lambda x: x % 2 == 0, nums)

[0, 2, 4]

In [216]:
# equivalent list comprehension
[num for num in nums if num % 2 == 0]

[0, 2, 4]

## Randomness

In [7]:
# import random module 
import random

In [8]:
# generate random numbers 
random.random()

0.37959528674478593

In [9]:
# generate random numbers 
random.random()

0.8878439306673374

In [11]:
# generate random numbers from start, end 
random.randint(1, 20)

5

In [12]:
# generate random numbers from start, end 
random.randint(1, 20)

1

In [13]:
# generate random numbers using randrange(start, step, stop) 
random.randrange(1, 20, 2)

5

In [14]:
# generate random numbers using randrange(start, step, stop) 
random.randrange(1, 20, 2)

13

In [16]:
# randomly choice: random.choice([sequence]) 
random.choice([1, 2, 3, 4, 5, 6])

2

In [17]:
# randomly choice: random.choice([sequence]) 
random.choice([1, 2, 3, 4, 5, 6])

3

In [18]:
# randomly choice: random.choice([sequence]) 
random.choice(["H", "T"])

'T'

In [19]:
# randomly choice: random.choice([sequence]) 
random.choice(["H", "T"])

'H'

[<a href="#Python-Quick-Guide">Back to top</a>]

## Working with Files

In [1]:
# store file in filename variable 
filename = "../data/input.txt"

In [2]:
# open file 
open(filename)

In [3]:
# read file content using for loop 
for line in open(filename): 
    print(line)

First Line

Second Line

Third Line

In [5]:
# removed special character: \n and \t
for line in open(filename): 
    line = line.rstrip() 
    print(line)

First Line
Second Line
Third Line

In [6]:
# split: returns a list of each line 
for line in open(filename):
    line = line.rstrip().split(" ")
    print(line)

['First', 'Line']
['Second', 'Line']
['Third', 'Line']

In [35]:
# write a file 
F = open("../data/output.txt", "w") # w for writing mood 
F.write("Python\n")

7

In [9]:
# close file 
F.close()

In [10]:
# read a file using with statement: open and close  
with open(filename, "r") as F: # r means reading mood 
    for line in F: 
        line = line.rstrip() 
        print(line)

First Line
Second Line
Third Line

In [11]:
# write a custom function for reading file 
def readFile(inputfile): 
    with open(inputfile, "r") as F: 
        for line in F: 
            line = line.rstrip()
            print(line)

In [12]:
# read file using readFile 
filename = "../data/input.txt"
readFile(filename)

First Line
Second Line
Third Line

[<a href="#Python-Quick-Guide">Back to top</a>]

## Common Mistakes and Errors

In [20]:
# Create a list 
L = [2,4,6]

In [15]:
# common error-1: IndexError
L[4]

IndexError: list index out of range

In [16]:
# check length 
len(L)

3

In [17]:
# common error-2: AttributeError
L.add(8)

AttributeError: 'list' object has no attribute 'add'

In [19]:
# solution 
L.append(8)
L

[2, 4, 6, 8, 8]

In [21]:
# Create a dictionary 
D = {1: "one", 2:"two"}

In [22]:
# keys 
D.keys()

dict_keys([1, 2])

In [24]:
# common error-3: KeyError
D[0]

KeyError: 0

In [25]:
# common error-4: TypeError 
"strings" + 9

TypeError: can only concatenate str (not "int") to str

In [27]:
# common error-5: IndentationError
def rsum(n): 
    rsum = 0 
    for k in range(n): 
        rsum += k 
        return rsum
rsum(12)

0

[<a href="#Python-Quick-Guide">Back to top</a>]

## Resources
- http://www.dataschool.io/
- https://www.python.org/doc/essays/blurb/
- https://dev.to/duomly/10-reasons-why-learning-python-is-still-a-great-idea-5abh
- https://www.stat.washington.edu/~hoytak/blog/whypython.html
- https://www.programiz.com/python-programming